:root {
    --primary: #395b64;
    --secondary: #e7f6f2;
    /* 
    #2C3333
    #395B64
    #A5C9CA
    #A5C9CA
    #E7F6F2*/
}

body {
    background: #2c3639 no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #a5c9ca;
}

#name {
    margin-top: 3vh;
    color: var(--secondary);
    font-size: x-large;
    font-weight: 900;
    /* background-color: #469d86; */
    padding: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vmin;
    padding: 0%;
    margin: auto;
    border: 1px solid var(--primary);
}

.container * {
    border-radius: 5px;
}

#qrcode {
    display: none;
    height: 60vmin;
    width: 60vmin;
    margin: 10px;
    margin-top: 7vmin;
    border: 5px solid white;
}

#vals {
    height: 10%;
    width: 60vmin;
    height: 8vmin;
    overflow-y: scroll;
    color: var(--primary);
    border: 2px solid var(--primary);
    outline: none;
    margin-top: 7vmin;
    margin-bottom: 7vmin;
    background-color: #a5c9ca;
    transition: 0.2s;
}

#vals:focus {
    color: blue;
    font-size: 100%;
}

.btn_design {
    width: 60vmin;
    height: 8vmin;
    margin: auto;
    margin-bottom: 7vmin;
    color: var(--secondary);
    background-color: var(--primary);
    border: 0.5px solid var(--primary);
    transition: 0.2s;
}

.btn_design:hover {
    background-color: #15404b;
    color: white;
    cursor: pointer;
}

#msg {
    color: #e7f6f2;
    margin-bottom: 4vmin;
}

.alerts {
    position: fixed;
    top: -55px;
    padding: 2vmin;
    width: 70vmin;
    border-radius: 5px;
    color: #e7f6f2;
    box-shadow: 0px 10px 44px rgb(37, 37, 37);
}

.alerts .alertmsg {
    float: left;
}

.alerts .dismiss_btn {
    position: absolute;
    right: 10px;
}

.alerts .dismiss_btn:hover {
    cursor: pointer;
}

.animateAlert {
    animation: anialerts 0.3s linear;
}

@keyframes anialerts {
    0% {
        top: -50px;
    }
    100% {
        top: 5px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 95vmin;
    }
    .container * {
        font-size: large;
    }
    #qrcode {
        display: none;
        height: 70vmin;
        width: 70vmin;
    }
    .alerts {
        position: fixed;
        top: -55px;
        /* height: 10vh; */
        font-size: larger;
        padding: 2vmin;
        width: 80vmin;
    }
    .btn_design {
        width: 80vmin;
        height: 15vmin;
        font-size: larger;
    }
    #vals {
        height: 30vmin;
        width: 80vmin;
    }
    #vals:focus {
        height: 30vmin;
        width: 80vmin;
        font-size: x-large;
    }
}